In [94]:
import pandas as pd
df = pd.read_csv('pokemon_data.csv')
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [7]:
import pandas as pd
df = pd.read_csv('pokemon_data.csv')
df.to_excel('pokemon_data.xlsx')

In [40]:
#reading data in pandas
#df.columns
#read each colum
#df[['Name','Type 1','Type 2']]
#read each rows
#df.iloc[1:3,3:6]
#df.loc[df['Type 1'] == 'Fire']
#to read specified location(R,C)
#df.iloc[3,1]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False

In [41]:
df.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.0
mean,4.300000,64.000000,77.500000,75.100000,95.500000,82.900000,75.300000,1.0
std,2.002776,16.792856,27.451978,25.636129,34.750699,23.086552,21.597582,0.0
min,1.000000,39.000000,48.000000,43.000000,50.000000,50.000000,43.000000,1.0
25%,3.000000,48.250000,54.500000,59.250000,68.750000,65.000000,61.250000,1.0
50%,4.500000,69.000000,73.000000,71.500000,90.000000,82.500000,80.000000,1.0
75%,6.000000,78.000000,96.000000,81.750000,118.750000,96.250000,95.000000,1.0
max,7.000000,80.000000,130.000000,123.000000,159.000000,120.000000,100.000000,1.0

In [95]:
#df.sort_values("Name",ascending= False)
#df.sort_values(["Type 1","HP"],ascending = True)
df.sort_values(["Type 1","HP"],ascending = [1,0])
#this means that type 1 ko ascending huncha hp ko hunna

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
520,469,Yanmega,Bug,Flying,86,76,86,116,56,95,4,False
698,637,Volcarona,Bug,Fire,85,60,65,135,105,100,5,False
231,214,Heracross,Bug,Fighting,80,125,75,40,95,85,2,False
232,214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False
678,617,Accelgor,Bug,NaN,80,70,40,100,60,145,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...
106,98,Krabby,Water,NaN,30,105,90,25,25,50,1,False
125,116,Horsea,Water,NaN,30,40,70,70,25,60,1,False
129,120,Staryu,Water,NaN,30,45,55,70,55,85,1,False
139,129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False
381,349,Feebas,Water,NaN,20,15,20,10,55,80,3,False

In [97]:
#df['Total'] = df['HP'] + df['Attack']+df['Defense'] +df['Sp. Atk']+df['Speed']
#df.head(5)
#df.drop(columns = ["Total"])

KeyError: "['Total'] not found in axis"

In [33]:
#add column in another way
df['Total'] = df.iloc[:,4:10].sum(axis = 1)
df.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total,gTotal
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318,NaN
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405,NaN
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525,NaN
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625,NaN
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309,NaN

In [108]:
#df[['#', 'Name', 'Type 1', 'Type 2','HP','Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary','Total']]
#Another way of moving the column name 
df = df[cols[0:4] +[cols[-1]]+cols[4:12]]
df.head(5)

,#,Name,Type 1,Type 2,Legendary,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
0,1,Bulbasaur,Grass,Poison,False,318,45,49,49,65,65,45,1
1,2,Ivysaur,Grass,Poison,False,405,60,62,63,80,80,60,1
2,3,Venusaur,Grass,Poison,False,525,80,82,83,100,100,80,1
3,3,VenusaurMega Venusaur,Grass,Poison,False,625,80,100,123,122,120,80,1
4,4,Charmander,Fire,NaN,False,309,39,52,43,60,50,65,1

In [111]:
#saving our data exxporting into desired form
df.to_csv('modified_data.csv', index = False)

In [118]:
#filtering data
new_df = df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison') & (df['HP']>70)]
new_df

,#,Name,Type 1,Type 2,Legendary,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
2,3,Venusaur,Grass,Poison,False,525,80,82,83,100,100,80,1
3,3,VenusaurMega Venusaur,Grass,Poison,False,625,80,100,123,122,120,80,1
50,45,Vileplume,Grass,Poison,False,490,75,80,85,110,90,50,1
77,71,Victreebel,Grass,Poison,False,490,80,105,65,100,70,70,1
652,591,Amoonguss,Grass,Poison,False,464,114,85,70,85,80,30,5

In [134]:
new_df = new_df.reset_index(drop=True)
new_df

,level_0,index,#,Name,Type 1,Type 2,Legendary,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
0,0,2,3,Venusaur,Grass,Poison,False,525,80,82,83,100,100,80,1
1,1,3,3,VenusaurMega Venusaur,Grass,Poison,False,625,80,100,123,122,120,80,1
2,2,50,45,Vileplume,Grass,Poison,False,490,75,80,85,110,90,50,1
3,3,77,71,Victreebel,Grass,Poison,False,490,80,105,65,100,70,70,1
4,4,652,591,Amoonguss,Grass,Poison,False,464,114,85,70,85,80,30,5

In [139]:
df.loc[~df['Name'].str.contains('Mega')]

,#,Name,Type 1,Type 2,Legendary,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
0,1,Bulbasaur,Grass,Poison,False,318,45,49,49,65,65,45,1
1,2,Ivysaur,Grass,Poison,False,405,60,62,63,80,80,60,1
2,3,Venusaur,Grass,Poison,False,525,80,82,83,100,100,80,1
4,4,Charmander,Fire,NaN,False,309,39,52,43,60,50,65,1
5,5,Charmeleon,Fire,NaN,False,405,58,64,58,80,65,80,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
794,718,Zygarde50% Forme,Dragon,Ground,True,600,108,100,121,81,95,95,6
795,719,Diancie,Rock,Fairy,True,600,50,100,150,100,150,50,6
797,720,HoopaHoopa Confined,Psychic,Ghost,True,600,80,110,60,150,130,70,6
798,720,HoopaHoopa Unbound,Psychic,Dark,True,680,80,160,60,170,130,80,6
799,721,Volcanion,Fire,Water,True,600,80,110,120,130,90,70,6

In [142]:
import re

df.loc[df['Type 1'].str.contains('Fire|Grass', regex = True)]

,#,Name,Type 1,Type 2,Legendary,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
0,1,Bulbasaur,Grass,Poison,False,318,45,49,49,65,65,45,1
1,2,Ivysaur,Grass,Poison,False,405,60,62,63,80,80,60,1
2,3,Venusaur,Grass,Poison,False,525,80,82,83,100,100,80,1
3,3,VenusaurMega Venusaur,Grass,Poison,False,625,80,100,123,122,120,80,1
4,4,Charmander,Fire,NaN,False,309,39,52,43,60,50,65,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,667,Litleo,Fire,Normal,False,369,62,50,58,73,54,72,6
736,668,Pyroar,Fire,Normal,False,507,86,68,72,109,66,106,6
740,672,Skiddo,Grass,NaN,False,350,66,65,48,62,57,52,6
741,673,Gogoat,Grass,NaN,False,531,123,100,62,97,81,68,6
799,721,Volcanion,Fire,Water,True,600,80,110,120,130,90,70,6